:root {
  --color-primary: #f0db4fff;
  --color-secundary: #ffffffff;

  --color-background-primary: #0d1117ff;
  --color-background-secundary: #161b22ff;

  --color-button-foreground: #161b22ff;
  --color-button-background-primary: #f0db4fff;
  --color-button-background-secundary: #484f58ff;

  --color-success: #22ff88ff;
  --color-error: #ff5566ff;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: var(--color-background-primary);
  font-family: "Rubik", sans-serif;
  color: var(--color-secundary);
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-background-primary);
}

body::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  border: 0.25rem solid var(--color-background-primary);
  background-color: var(--color-background-secundary);
}

body > div#__next {
  height: 100vh;
  width: 100%;
}

body > div#__next > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-border-secundary);
  padding: 6rem 1.5rem;
  width: 100%;
}

body > div#__next > section > div {
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }

  body > div#__next > section {
    padding: 5rem 1.5rem 4rem;
  }
}
