.homeSection {
  min-height: 100vh;

  > svg.logo {
    display: flex;
    min-width: 8rem;
    margin: 1rem 0;
    color: var(--color-primary);
  }

  > svg.headline {
    margin: 1rem 0;
    max-width: 96%;
    color: var(--color-primary);
  }

  > ul {
    display: flex;
    list-style: none;
    margin: 1rem 0;
    padding: 2rem 2.25rem 0;
    border-top: 1px solid var(--color-border-2);

    > li {
      margin: 0 1rem;
      transition: transform ease 150ms;

      > a {
        color: var(--color-text-3);
        transition: color ease 150ms;
      }

      &:hover {
        transform: scale(1.2);
        > a {
          color: var(--color-text-1);
        }
      }
    }
  }
}
