.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-1);
  border-bottom: 1px solid var(--color-border-2);
  padding: 0 1.5rem;
  position: fixed;
  width: 100%;
  height: 4.75rem;
  z-index: 9999;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;

    > nav > ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      > li {
        margin: 0 1rem;

        &[active] > a {
          color: var(--color-primary);
        }

        > a {
          display: inline-block;
          color: var(--color-text-1);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          transition: color ease 300ms;

          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }

    > button {
      display: none;
      background-color: transparent;
      color: var(--color-text-1);
      padding: 0.5rem 0.25rem;
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    > div > nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      background-color: var(--color-background-1);
      padding: 1rem 1.5rem;
      min-height: calc(100vh - 4.75rem);
      width: 100%;

      position: fixed;
      top: 4.75rem;
      left: 0;

      transform: translateX(100%);
      transition: transform ease-in-out 300ms;
      will-change: transform;

      &.show {
        transform: translateX(0);
      }

      > ul {
        flex-direction: column;
        width: 100%;

        > li {
          background-color: var(--color-background-2);
          background-image: linear-gradient(
            to right,
            var(--color-background-2),
            var(--color-background-1)
          );
          border-left: 0.25rem solid var(--color-border-2);
          margin: 0.35rem 0;

          a {
            display: block;
            padding: 1.75rem 2.25rem;
          }

          &[active] {
            border-left: 0.25rem solid var(--color-text-1);

            > a {
              color: var(--color-primary);
            }
          }
        }
      }
    }

    > div > button {
      display: block;
    }
  }
}
