.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background-secundary);
  color: var(--color-secundary);
  padding: 6rem 1.5rem;
  font-weight: 300;
}
