.link {
  background-color: var(--color-button-background-1);
  color: var(--color-text-2);
  text-decoration: none;

  &.small {
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-size: 0.92rem;
    font-weight: 700;
  }

  &.large {
    border-radius: 2rem;
    padding: 1.25rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }

  &.disabled {
    background-color: var(--color-button-background-2);
    pointer-events: none;
  }
}
